$b-offer-mb: 2em;
$b-offer-pt: $b-offer-mb;
$b-offer-bg: #fff;

$b-offer__item-w: 30%;
$b-offer__item-pl: 3%;

$b-offer__head-c: $b-offer-bg;

$b-offer__content-t: 10%;
$b-offer__content-l: 10%;
$b-offer__content-w: 30%;

$b-offer__content-p-mb: 1em;

$b-offer__head-mb: 0.5em;
$b-offer__head-s: 1.3em;

$b-offer__link-pt: 0.2em;
$b-offer__link-pr: 0.5em;
$b-offer__link-pb: 0.3em;
$b-offer__link-pl: 0.5em;
$b-offer__link-c: #fff;
$b-offer__link-h-bg: rgba(255, 255, 255, 0.5);