$b-pagination-mb: 2em;
$b-pagination-w: 33%;

$b-pagination__item-mr: 0.5em;

$b-pagination__link-c: #222;
$b-pagination__link-c_h: #fff;
$b-pagination__link-pt: 1em;
$b-pagination__link-bg: #ddd;
$b-pagination__link-bg_h: #62bfc4;