$b-articles__item-w: 30%;
$b-articles__item-ml: 3%;
$b-articles__item-c: #767676;

$b-articles_link-img-borc: #fff;
$b-articles_link-img-borc-h: #23527c;
$b-articles_link-img-bor-w: 0.3em;
$b-articles_link-img-time: 0.5s;

$b-article__head-c: #2f2f2f;

$b-articles_link-btn-pl: 2em;
$b-articles_link-btn-pt: 0.7em;
$b-articles_link-btn-bg: #62bfc4;
$b-articles_link-btn-bg-h: #ff4141;
$b-articles_link-btn-c: #fff;
$b-articles_link-btn-time: $time;
