$b-products-bg: #fff;
$b-products-mb: 2em;
$b-products-pt: $b-products-mb;

$b-products__big-header-c: #2f2f2f;
$b-products__big-header-s: 1.5em;


$b-products__item-w: 23%;
$b-products__item-ml: 2%;
$b-products__item-mb: $b-products__item-ml;

$b-products__head-f: 'ralewayregular';
$b-products__head-mb: 1em;

$b-products__price-f: 'open_sansregular';
$b-products__price-s: 1.625em;
$b-products__price-c: #ff4141;
$b-products__price-mb: 1em;

$b-products__price_old-c: #323232;
$b-products__price_old-pl: 1em;

$b-products__button-bg: #62bfc4;
$b-products__button-bg-h: #FF4141;
$b-products__button-p: 1em;

$b-products__button-borr: 2em;
$b-products__button-c: #fff;
$b-products__button-time: $time;
