/* maxins */
/* end mixins*/
/*core*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.l-center {
  width: 90%;
  /*min-width: 600px;*/
  margin: 0 auto; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0; }

.l-wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }
  .l-wrapper:after {
    position: static;
    content: " ";
    display: block;
    height: 28.4375em;
    z-index: 1; }

.b-footer {
  position: relative;
  height: 28.4375em;
  margin: -28.4375em 0 0 0;
  zoom: 1;
  z-index: 100; }

body {
  font-family: 'open_sansregular', sans-serif;
  font-size: 0.75em;
  font-weight: bold;
  background: #efefef; }

ul {
  margin: 0;
  padding: 0; }

input,
textarea {
  outline: none; }

/*l-top-bg*/
.l-top-bg {
  background: url("../img/b-header-bg.jpg") no-repeat top center;
  background-size: cover; }

/*end l-top-bg*/
.red-star {
  color: #ff4141; }

/* end core */
/* header */
.b-header {
  margin: 0 0 2em 0; }

.b-t-contact {
  min-height: 2.25em;
  background: #4d4d4d; }

.b-top-contact__list {
  list-style: none;
  text-align: justify; }

.b-top-contact__item {
  float: left;
  margin: 0 3% 0 0;
  padding: 0.5em 0 0; }

.b-top-contact__link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-top-contact__link:hover {
    color: #aaa;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-m-head {
  padding: 1em 0; }

.b-logo {
  float: left;
  margin: 0 6em 0 0; }

.b-logo__link {
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 100;
  color: #000;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-logo__link:hover {
    color: #777;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-t-search {
  position: relative;
  float: left;
  background: #fff;
  padding: 0.5em; }

.b-t-search__reqest {
  height: 2.5em;
  width: 27em;
  padding: 0 0.2em;
  margin: 0; }

.b-t-search__send {
  content: "\f002";
  font-size: 1em;
  font-weight: 700;
  color: #000;
  height: 2.8em;
  vertical-align: top;
  background: #62bfc4;
  color: #fff;
  border: none;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-t-search__send:hover {
    background: #efefef;
    color: #777;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-t-basket {
  position: relative;
  float: right;
  padding: 1em 0 0 0; }

.b-t-basket__link {
  text-decoration: none;
  color: #222;
  font-size: 1.2em;
  vertical-align: center;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-t-basket__link:hover {
    color: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .b-t-basket__link .fa {
    position: absolute;
    font-size: 2em;
    left: -1.2em;
    top: 0.25em;
    color: #62bfc4; }

.b-b-head {
  background: rgba(255, 255, 255, 0.7); }

.b-top-menu {
  padding: 1.5em 0 0.55em 0; }

.b-top-menu__list {
  list-style: none;
  text-align: justify;
  z-index: 100; }
  .b-top-menu__list:after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 0; }

.b-top-menu__item {
  position: relative;
  display: inline-block; }

.b-top-menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "ralewayregular", sans-serif;
  font-size: 1.1em;
  color: #333;
  padding: 0 0 1.1em 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-top-menu__link:hover {
    color: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-top-menu__link:hover {
  border-bottom: 5px solid #62bfc4;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s; }

.b-top-menu__sub-list {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  left: 0;
  padding: 1em 0 0 0;
  list-style: none;
  z-index: 100; }
  .b-top-menu__sub-list .b-top-menu__sub-list {
    position: absolute;
    padding: 0 0 0 1em;
    left: 100%;
    top: 1%; }

.b-top-menu__sub-link {
  display: block;
  padding: 1em;
  text-decoration: none;
  background: #62bfc4;
  color: #333;
  text-transform: uppercase; }
  .b-top-menu__sub-link:hover {
    color: #62bfc4;
    background: #94F1F6;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-top-menu__item:hover > .b-top-menu__sub-list {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.b-top-menu__sub-item {
  position: relative; }
  .b-top-menu__sub-item:hover > .b-top-menu__sub-list {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

/*end header */
/*b-t-nav-slid*/
.b-t-nav-slid {
  padding: 2em 0;
  margin: 0 0 2em 0; }

.b-main-menu {
  background: #fff;
  opacity: .7;
  padding: 1em 0 0 0;
  margin: 1em 0; }

.b-main-menu__list {
  list-style: none;
  text-align: justify;
  z-index: 100; }
  .b-main-menu__list:after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 0; }

.b-main-menu__item {
  display: inline-block; }

.b-main-menu__link {
  display: block;
  padding: 1em 1.25em;
  color: #2f2f2f;
  font-family: "ralewayregular", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-main-menu__link:hover {
    color: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-main-menu__link_active {
  color: #62bfc4;
  text-transform: uppercase; }

.b-slider {
  position: relative;
  width: 100%;
  height: 27em;
  overflow: hidden; }

.b-slider_list {
  list-style: none; }

.b-slider__item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 27em; }

.b-slider__img {
  vertical-align: bottom;
  width: 100%;
  height: 100%; }

.b-slider__text {
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 25%;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  padding: 3% 3% 0 3%; }
  .b-slider__text:hover {
    background: rgba(255, 255, 255, 0.9);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

/*end b-t-nav-slid*/
/*offer*/
.b-offer {
  margin: 0 0 2em 0;
  padding: 2em 0;
  background: #fff; }

.b-offer__list {
  list-style: none;
  vertical-align: top; }

.b-offer__item {
  position: relative;
  float: left;
  width: 30%;
  margin: 0 0 0 3%; }
  .b-offer__item:first-child {
    margin: 0; }

.b-offer__content {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30%; }
  .b-offer__content p {
    margin: 0 0 1em 0;
    font-weight: 700; }

.b-offer__head {
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  margin: 0 0 0.5em 0; }

.b-offer__link, .b-spec-offer__sm-btn,
.b-spec-offer__bg-btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em 0.3em 0.5em;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .b-offer__link:hover, .b-spec-offer__sm-btn:hover,
  .b-spec-offer__bg-btn:hover {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/*end offer*/
/*products*/
.b-products, .b-spec-offer, .b-services, .b-articles {
  margin: 0 0 2em 0;
  background: #fff;
  padding: 2em 0; }

.b-products__big-header, .b-articles__head {
  color: #2f2f2f;
  font-size: 1.5em;
  font-weight: 600; }

.b-products__list {
  list-style: none; }

.b-products__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin: 0 0 2% 2%;
  text-align: center; }
  .b-products__item:nth-child(4n+4) {
    margin: 0 0 2% 0; }

.b-products__img {
  max-height: 100%;
  max-width: 100%; }

.b-products__head {
  font-family: "ralewayregular", sans-serif;
  margin: 0 0 1em 0; }

.b-products__price, .b-prod__price {
  margin: 0 0 1em 0;
  font-family: "open_sansregular";
  font-size: 1.625em;
  color: #ff4141;
  font-weight: 700; }

.b-products__price_old {
  color: #323232;
  text-decoration: line-through;
  padding: 0 0 0 1em; }

.b-products__button, .b-prod__submit {
  display: inline-block;
  background: #62bfc4;
  padding: 1em;
  -moz-border-radius: 2em 2em 2em 2em;
  -webkit-border-radius: 2em 2em 2em 2em;
  -o-border-radius: 2em 2em 2em 2em;
  border-radius: 2em 2em 2em 2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-products__button:hover, .b-prod__submit:hover {
    background: #FF4141;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .b-products__button .fa-shopping-cart, .b-prod__submit .fa-shopping-cart {
    margin: 0 0 0 1em;
    font-size: 1.3em; }

/*end products*/
/*offer*/
.b-spec-offer {
  background-image: url("../img/b-offer-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }

.b-spec-offer__bg {
  position: relative;
  width: 100%;
  padding: 0 30% 0 0; }

.b-spec-offer__text-bg {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 40%; }
  .b-spec-offer__text-bg p {
    font-size: 1.35em;
    margin: 0 0 1em 0; }

.b-spec-offer__head-bg {
  font-size: 3em;
  color: #fff;
  font-weight: 100;
  margin: 0 0 0.3em 0; }

.b-spec-offer__sm {
  position: relative;
  float: right;
  width: 25%;
  z-index: 100; }

.b-spec-offer__img-sm,
.b-spec-offer__img-bg {
  width: 100%; }

.b-spec-offer__text-sm {
  position: absolute;
  bottom: 5%;
  left: 5%;
  width: 80%;
  text-align: center; }

.b-spec-offer__sm-btn,
.b-spec-offer__bg-btn {
  padding: 0.4em 2em; }

/*end offer*/
/*services*/
.b-services__list {
  list-style: none; }

.b-services__item {
  position: relative;
  float: left;
  width: 29.8%;
  min-height: 16.25em;
  padding: 1.875em 1.56em 1.875em 1.875em; }

.b-services__item_blue {
  background: #90D7EB; }
  .b-services__item_blue .fa-paper-plane-o {
    color: #69C2E1;
    float: right;
    margin: 12% 0 0;
    font-size: 10em; }

.b-services__item_blued {
  background: #42ADD7; }
  .b-services__item_blued .fa-rocket {
    color: #69C2E1;
    float: right;
    margin: 12% 0 0;
    font-size: 10em; }

.b-services__item_purple {
  background: #8482CB; }
  .b-services__item_purple .fa-thumbs-o-up {
    color: #A2A1E1;
    float: right;
    margin: 12% 0 0;
    font-size: 10em; }

.b-services__img {
  position: absolute;
  right: 5%; }

.b-services__content {
  margin: 12% 0 0 0; }

.b-services__link {
  text-decoration: none;
  color: #fff;
  font-size: 2.25em;
  font-weight: 600;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-services__link:hover {
    color: #000;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

/*end services*/
/*articles*/
.b-articles__list {
  list-style: none; }

.b-articles__item {
  display: inline-block;
  width: 30%;
  margin: 0 0 3% 3%;
  color: #767676;
  vertical-align: top; }
  .b-articles__item:first-child, .b-articles__item::nth-child(3n+3) {
    margin: 0; }

.b-articles_link-img {
  display: block;
  border: 0.3em solid #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .b-articles_link-img:hover {
    border: 0.3em solid #23527c;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.b-articles__img {
  width: 100%;
  vertical-align: bottom; }

.b-article__head {
  color: #2f2f2f; }

.b-articles_link-btn, .b-card__link-back,
.b-card__reset, .b-contact-form__submit,
.b-card__submit,
.b-card__link-delete {
  display: block;
  float: left;
  text-decoration: none;
  padding: 0.7em 2em;
  background: #62bfc4;
  color: #fff;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-articles_link-btn:hover, .b-card__link-back:hover,
  .b-card__reset:hover, .b-contact-form__submit:hover,
  .b-card__submit:hover,
  .b-card__link-delete:hover {
    background: #ff4141;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

/*end articles*/
/*footer*/
.b-footer {
  position: relative;
  background: #323232; }

.b-footer__blok-info {
  float: left;
  width: 19%;
  margin: 5% 1% 0 0; }

.b-footer__block-head {
  font-family: "ralewayregular", sans-serif;
  font-size: 1.5em;
  color: #fff;
  font-weight: 600; }

.b-footer__list {
  list-style: none; }

.b-footer__item {
  margin: 0 0 1em 0;
  color: #767676; }

.b-footer__link {
  text-decoration: none;
  color: #767676;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-footer__link:hover {
    color: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-footer__email {
  float: left;
  margin: 5% 0 0 0;
  width: 40%; }

.b-footer__request {
  border: none;
  background: #4d4d4d;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  color: #bababa;
  font-weight: 100;
  width: 96.3%;
  margin: 0 0 0.8em 0; }
  .b-footer__request ::-webkit-input-placeholder {
    color: #bababa; }
  .b-footer__request ::-moz-placeholder {
    color: #bababa; }
  .b-footer__request :-moz-placeholder {
    color: #bababa; }
  .b-footer__request :-ms-input-placeholder {
    color: #bababa; }

.b-footer__submit {
  float: right;
  border: none;
  background: #4d4d4d;
  color: #62BFC4;
  padding: 0.2em 0.5em;
  font-size: 1.5em;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-footer__submit:hover {
    background: #62BFC4;
    color: #fff;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-footer__copyright {
  background: #262626;
  color: #fff; }

/*end footer*/
/*scroll*/
.b-scroll {
  position: fixed;
  width: 4.375em;
  height: 2.9375em;
  bottom: 1.25em;
  right: 1.25em;
  padding: 1.4375em 0.3125em 0 0.3125em;
  background: #555;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 0.4375em;
  font-size: 1.2em;
  z-index: 10000;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-scroll:hover {
    background: #222;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

/*end scroll*/
/********* inner **********/
/* breadcrumbs */
.b-breadcrumbs {
  margin: 1em 0;
  padding: 1em 0; }

.b-breadcrumbs__list {
  list-style: none; }

.b-breadcrumbs__item {
  float: left;
  margin: 0 0.5em;
  color: #222;
  font-size: 1.1em; }

.b-breadcrumbs_separator {
  float: left;
  margin: 0 0.5em; }

.b-breadcrumbs__link {
  text-decoration: none;
  color: #222;
  font-size: 1.1em;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-breadcrumbs__link:hover {
    color: #62bfc4; }

/* end breadcrumbs */
/* prod */
.b-prod {
  margin: 2em 0; }

/************************** b-prod-gallery  *********************************/
.b-prod-gallery {
  padding: 0 34% 0 0; }

.b-prod-gallery-nav {
  position: relative;
  width: 57.125em;
  height: 14.4125em;
  padding: 0 7%; }

.l-gallery-nav {
  width: 100%;
  overflow: hidden; }

.b-prod-gallery__big-img {
  max-width: 100%; }

.b-prod-gallery-nav__list {
  list-style: none;
  width: 10000px;
  padding: 0px;
  position: relative; }

.b-prod-gallery-nav__item {
  float: left;
  width: 14.3em; }

.b-prod-gallery-nav__img {
  width: 96%;
  height: 99%;
  cursor: pointer;
  border: 0.3em solid #fff;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-prod-gallery-nav__img:hover {
    border-color: #23527c;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-prod-gallery-nav__prev,
.b-prod-gallery-nav__next {
  position: absolute;
  top: 35%;
  width: 1.4em;
  height: 1.4em;
  background: #23527c;
  color: #fff;
  font-size: 2.5em;
  cursor: pointer;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-prod-gallery-nav__prev:hover,
  .b-prod-gallery-nav__next:hover {
    background: #3174AE;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-prod-gallery-nav__prev {
  left: 1%; }
  .b-prod-gallery-nav__prev .fa-angle-left {
    position: absolute;
    top: 14%;
    left: 35%; }

.b-prod-gallery-nav__next {
  right: 1%; }
  .b-prod-gallery-nav__next .fa-angle-right {
    position: absolute;
    top: 14%;
    left: 35%; }

/********************  b-prod__char  ************************/
.b-prod__char {
  float: right;
  width: 32%; }

.b-prod__brand, .b-prod__sku {
  font-weight: 700;
  margin: 0 0 1em 0;
  font-size: 1.1em; }
  .b-prod__brand span, .b-prod__sku span {
    font-weight: 300;
    padding: 0 1em 0 0; }

.b-prod__form {
  margin: 2em 0; }

.b-prod__label {
  display: block;
  margin: 0 0 1em 0;
  min-height: 33px;
  vertical-align: center;
  font-size: 1.1em; }

.b-prod__select, .b-prod__input-number {
  float: right;
  width: 70%;
  padding: 0.625em 0.625em;
  outline: none;
  border: none;
  margin-bottom: 0.625em;
  background: #ddd;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -moz-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  -webkit-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  -o-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em; }
  .b-prod__select:hover, .b-prod__input-number:hover {
    background: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-prod__input-number {
  width: 66%; }

.b-prod__submit {
  border: none;
  font-weight: 700; }

/**************  b-prod__desc  *****************/
.b-prod__desc {
  margin: 2em 0; }
  .b-prod__desc h3 {
    text-align: center;
    font-size: 1.8em; }
  .b-prod__desc p {
    margin: 0 0 1em 0;
    font-size: 1.2em;
    line-height: 1.4; }

/* end prod */
/********* end inner **********/
/*********** card ************/
/* card */
.b-card {
  margin: 0 0 2em 0; }

.b-card__head {
  text-align: center;
  margin: 0 0 2em 0; }

.b-card__table {
  width: 100%;
  border: 1px solid #222;
  margin: 0 0 1em 0;
  background: #3174AE; }
  .b-card__table td {
    width: 18%;
    padding: 1em;
    border: 1px solid #222;
    background: #E1F0FA;
    font-size: 1em; }

.b-card__img {
  width: 100%;
  height: 13.375em; }

.b-card__thead {
  text-align: center;
  text-transform: uppercase; }
  .b-card__thead td {
    background: #FFD8BF;
    font-size: 1.3em;
    font-weight: 700; }

.b-card__quantity {
  width: 93%;
  margin: 0;
  padding: 0.625em 0.625em;
  outline: none;
  background: #ddd;
  border: 1px solid #3174AE;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -moz-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  -webkit-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  -o-border-radius: 0.3125em 0.3125em 0.3125em 0.3125em;
  border-radius: 0.3125em 0.3125em 0.3125em 0.3125em; }
  .b-card__quantity:hover {
    background: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-card__textarea {
  float: left;
  width: 48%;
  height: 7em;
  padding: 1%;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -o-border-radius: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  border: 2px solid #3174AE; }
  .b-card__textarea ::-webkit-input-placeholder {
    color: #000; }
  .b-card__textarea ::-moz-placeholder {
    color: #000; }
  .b-card__textarea :-moz-placeholder {
    color: #000; }
  .b-card__textarea :-ms-input-placeholder {
    color: #000; }

.l-card__price {
  float: right;
  width: 49%;
  text-align: right; }

.b-card__subtotal, .b-card__total {
  font-size: 1.7em;
  margin: 0 0 0.7em 0; }

.b-card__link-back,
.b-card__reset,
.b-contact-form__submit,
.b-card__submit,
.b-card__link-delete {
  float: right;
  border: none;
  margin: 0 0 0 1em; }

/* end card */
/********* end card **********/
/********* contact ************/
.b-map {
  margin: 0 0 2em 0; }

.b-contact-info__list {
  list-style: none; }

.b-contact-info__item {
  position: relative;
  float: left;
  width: 33%;
  font-size: 1em;
  margin: 0 0 1.5em 0; }
  .b-contact-info__item .fa {
    position: absolute;
    color: #62bfc4;
    font-size: 4em; }

.b-contact-info__item-text {
  width: 82%;
  margin: 0 0 0 17%; }
  .b-contact-info__item-text h4 {
    font-size: 1.2em;
    margin: 0 0 1em 0; }
  .b-contact-info__item-text p {
    margin: 0 0 1em 0; }

.b-contact-info__logo {
  font-size: 3em;
  color: #222;
  text-decoration: none;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-contact-info__logo:hover {
    color: #777;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-contact-info__email {
  text-decoration: none;
  color: #222;
  font-size: 1.2em;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-contact-info__email:hover {
    color: #777;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

/* form */
.b-contact-form__label {
  display: block; }
  .b-contact-form__label p {
    font-size: 1.3em;
    margin: 0 0 1em 0; }

.b-contact-form__input, .b-contact-form__textarea {
  padding: 0.625em 0.625em;
  width: 98.7%;
  outline: none;
  border: none;
  margin-bottom: 0.625em;
  background: #ddd;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }
  .b-contact-form__input:hover, .b-contact-form__textarea:hover {
    background: #62bfc4;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }

.b-contact-form__submit {
  margin: 0; }

/*end form*/
/********* end contact ********/
