$header-h: 42.5625em;
$header-mb: 2em;

$header-contact-h: 2.25em;
$header-contact-bg: #4d4d4d;

$header-contact-link-c: #fff;
$header-contact-link-c-h: #aaa;

$logo-font-s: 2.5em;
$logo-font-c: #000;
$logo-font-c-h: #777;

$b-m-head-bg: #ddd;

$b-t-search-bg: #fff;

$b-t-search__reqest-h: 2.5em;
$b-t-search__reqest-w: 27em;

$b-t-search__send-h: 3.1em;
$b-t-search__send-bg: #62bfc4;
$b-t-search__send-bg-h: #efefef;
$b-t-search__send-c: #fff;
$b-t-search__send-c-h: #777;

$b-t-basket__link-c: #777;
$b-t-basket__link-c-h: #62bfc4;

$b-b-head-bg: rgba(255, 255, 255, .7);

$b-top-menu__link-c: #333;
$b-top-menu__link-c-h: $b-t-search__send-bg;
$b-top-menu__link-bg-h: $b-t-search__send-bg;
$b-top-menu__link-f: 'ralewayregular';
$b-top-menu__link-s: 1.1em;

$b-top-menu__sub-link-bg: $b-t-search__send-bg;
$b-top-menu__sub-link-bg-h: #94F1F6;
$-top-menu__sub-link-c: $b-top-menu__link-c;
$-top-menu__sub-link-c-h: $b-top-menu__link-c-h;