$b-prod-mt: 2em;

$b-prod-gallery-nav-w: 57.125em;
$b-prod-gallery-nav-h: 14.4125em;
$b-prod-gallery-nav-pl: 7%;

$b-prod-gallery-nav__item-w: 14.3em;

$l-prod-gallery__big-img-pr: 34%;
$b-prod-gallery-nav__img-w: 96%;
$b-prod-gallery-nav__img-h: 99%;
$b-prod-gallery-nav__img-bord-w: 0.3em;
$b-prod-gallery-nav__img-bord-c: #fff;
$b-prod-gallery-nav__img-bord-c-h: #23527c;

$b-prod-gallery-nav__prev-w: 1.4em;
$b-prod-gallery-nav__prev-h: $b-prod-gallery-nav__prev-w;
$b-prod-gallery-nav__prev-bg: #23527c;
$b-prod-gallery-nav__prev-bg-h: #3174AE;
$b-prod-gallery-nav__prev-c: #fff;
$b-prod-gallery-nav__prev-s: 2.5em;

$b-prod__char-w: 32%;

$b-prod__brand-mb: 1em;
$b-prod__brand-span-pr: 1em;
$b-prod__brand-s: 1.1em;

$b-prod__form-mt: 2em;

$b-prod__label-mb: 1em;
$b-prod__label-s: 1.1em;
$b-prod__select-bord-rad: 0.3125em;

$b-prod__select-w: 70%;
$b-prod__select-pt: 0.625em;
$b-prod__select-pl: 0.625em;
$b-prod__select-mb: 0.625em;

$b-prod__input-number-w: 66%;

$b-prod__desc-mt: 2em;
$b-prod__desc_h3-s: 1.8em;
$b-prod__desc_p-s: 1.2em;
$b-prod__desc_p-mb: 1em;
