$b-prod-mt: 2em;

$b-prod-gallery-nav-w: 86%;
$b-prod-gallery-nav-h: 14.4125em;
$b-prod-gallery-nav-pl: 7%;

$b-prod-gallery-nav__item-w: 14.3em;

$l-prod-gallery__big-img-pr: 34%;
$b-prod-gallery-nav__img-w: 96%;
$b-prod-gallery-nav__img-h: 99%;
$b-prod-gallery-nav__img-bord-w: 0.3em;
$b-prod-gallery-nav__img-bord-c: #fff;
$b-prod-gallery-nav__img-bord-c-h: #23527c;

$b-prod-gallery-nav__prev-w: 1.4em;
$b-prod-gallery-nav__prev-h: $b-prod-gallery-nav__prev-w;
$b-prod-gallery-nav__prev-bg: #23527c;
$b-prod-gallery-nav__prev-bg-h: #3174AE;
$b-prod-gallery-nav__prev-c: #fff;
$b-prod-gallery-nav__prev-s: 2.5em;

$b-prod__char-w: 32%;

