$b-breadcrumbs-mt: 1em;
$b-breadcrumbs-pt: 1em;

$b-breadcrumbs__item-ml: 0.5em;

$b-breadcrumbs_separator-ml: $b-breadcrumbs__item-ml;

$b-breadcrumbs__link-c: #222;
$b-breadcrumbs__link-c-h: #62bfc4;
$b-breadcrumbs__link-s: 1.1em