$b-spec-offer: url("../img/b-offer-bg.jpg");

$b-spec-offer__bg-w: 70%;
$b-spec-offer__bg-pr: 30%;

$b-spec-offer__head-bg-s: 3em;
$b-spec-offer__head-bg-c: #fff;
$b-spec-offer__head-bg-mb: 0.3em;

$b-spec-offer__text-bg-p: 1.35em;

$b-spec-offer__text-bg-t: 15%;
$b-spec-offer__text-bg-l: 5%;
$b-spec-offer__text-bg-w: 40%;

$b-spec-offer__sm-w: 25%;

$b-spec-offer__text-sm-b: 5%;
$b-spec-offer__text-sm-l: $b-spec-offer__text-sm-b;
$b-spec-offer__text-sm-w: 80%;