$b-card-mb: 2em;

$b-card__head-mb: 2em;

$b-card__table-w: 100%;
$b-card__table-mb: 1em;
$b-card__table-bg: #3174AE;
$b-card__table_td-bg: #E1F0FA;
$b-card__table_td-pt: 1em;
$b-card__table_td-s: 1em;

$b-card__img-w: 100%;
$b-card__img-h: 13.375em;

$b-card__thead_td-bg: #FFD8BF;
$b-card__thead_td-s: 1.3em;

$b-card__quantity-w: 93%;

$b-card__textarea-w: 48%;
$b-card__textarea-h: 7em;
$b-card__textarea-pt: 1%;
$b-card__textarea-bord-rad: 0.5em;
$b-card__textarea-plac-c: #000;
$b-card__textarea-bord-c: #3174AE;


$l-card__price-w: 49%;

$b-card__subtotal-s: 1.7em;
$b-card__subtotal-mb: 0.7em;

$b-card__link-back-ml: 1em;