$b-services__item-w: 29.8%;

$b-services__item-pr: 1.56em;
$b-services__item-pl: 1.875em;
$b-services__item-pt: $b-services__item-pl;

$b-services__item_blue-bg: #90D7EB;
$b-services__item_blued-bg: #42ADD7;
$b-services__item_purple-bg: #8482CB;

$b-services__img-h: 16.25em;

$b-services__content_mt: 12%;

$b-services__link-c: #fff;
$b-services__link-ch: #000;
$b-services__link-s: 2.25em;
$b-services__link_time: $time;
