@import "var-scroll";

.b-scroll{
	position: fixed;
	width: $b-scroll-w;
    height: $b-scroll-h;
    bottom: $b-scroll-b;
    right: $b-scroll-r;
    padding: $b-scroll-pt $b-scroll-pr $b-scroll-pb $b-scroll-pl;
    background: $b-scroll-bg;
    color: $b-scroll-c;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-radius: $b-scroll-rad;
    font-size: $b-scroll-s;
    z-index: 10000;
    @include transition($time);

    &:hover{
    	background: $b-scroll-bg-h;
    	@include transition($time);
    }
}