$b-scroll-w: 4.375em;
$b-scroll-h: 2.9375em;
$b-scroll-b: 1.25em;
$b-scroll-r: $b-scroll-b;

$b-scroll-pt: 1.4375em;
$b-scroll-pr: 0.3125em;
$b-scroll-pb: 0;
$b-scroll-pl: $b-scroll-pr;

$b-scroll-bg: #555;
$b-scroll-bg-h: #222;
$b-scroll-c: #fff;

$b-scroll-s: 1.2em;
$b-scroll-rad: 0.4375em;