$b-footer-bg: #323232;

$b-footer__blok-info-w: 19%;
$b-footer__blok-info-mr: 1%;
$b-footer__blok-info-mt: 5%;

$b-footer__block-head-f: 'ralewayregular';
$b-footer__block-head-s: 1.5em;
$b-footer__block-head-c: #fff;

$b-footer__item-mb: 1em;

$b-footer__email-w: 40%;

$b-footer__copyright: #262626;

$b-footer__link-c: #767676;
$b-footer__link-c-h: #62bfc4;
$b-footer__link-time: $time;

$b-footer__request-bg: #4d4d4d;
$b-footer__request-pt: 0.2em;
$b-footer__request-pl: 0.5em;
$b-footer__request-mb: 0.8em;
$b-footer__request-s: 1.5em;
$b-footer__request-c: #bababa;
$b-footer__request-w: 96.3%;

$b-footer__submit-bg: $b-footer__request-bg;
$b-footer__submit-bg-h: #62BFC4;
$b-footer__submit-c: $b-footer__submit-bg-h;
$b-footer__submit-c-h: #fff;
$b-footer__submit-pt: $b-footer__request-pt;
$b-footer__submit-pl: $b-footer__request-pl;
$b-footer__submit-s: $b-footer__request-s;
$b-footer__submit-time: $time;

$b-footer__copyright-c: #fff;
