$b-map-mb: 2em;

$b-contact-info__item-w: 33%;
$b-contact-info__item-s: 1em;
$b-contact-info__item-mb: 1.5em;

$b-contact-info__item_fa-c: #62bfc4;
$b-contact-info__item_fa-s: 4em;

$b-contact-info__item-text-w: 82%;
$b-contact-info__item-text-mb: 17%;
$b-contact-info__item-text_h4-mb: 1em;
$b-contact-info__item-text_h4-s: 1.2em;

$b-contact-info__logo-s: 3em;
$b-contact-info__logo-c: #222;
$b-contact-info__logo-c_h: #777;

$b-contact-info__email-s: 1.2em;
$b-contact-info__email-c: #222;
$b-contact-info__email-c_h: #777;

$b-contact-form__label-s: 1.3em;
$b-contact-form__label-mb: 1em;

$b-contact-form__input-pt: 0.625em;
$b-contact-form__input-pl: 0.625em;
$b-contact-form__input-mb: 0.625em;
$b-contact-form__input-bg: #ddd;
$b-contact-form__input-bg_h: #62bfc4;
$b-contact-form__input-w: 98.7%;
